.app-TopNav {
  .logo {
    width: auto;
    height: 70%;
  }

  .avatar {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 40px;
    background-position: center center;
  }
}
