.app-LoginPop {
  padding: 10px;

  .ft {
    padding-top: 10px;
  }
  .links {
    padding-top: 15px;

    a {
      color: #49b3ff;
    }
  }
  .am-list-body {
    border-top: none;
    border-bottom: none;

    &::before,
    &::after {
      display: none !important;
    }
  }
}
